/* Colors */
$color-primary: #60c6ee;
$color-primary-light:  #dff4fb;
$color-primary-dark: #47b4e0;
$color-primary-disabled: #d4dcde;

$color-light: #ffffff;
$color-dark: #4c565c;

$color-font-dark: #4b4b4b;
$color-font-infobar: #c6c5c5;

$color-ui-borders: #dddddd;
$color-control-borders: #b9b9b9;
$color-control-readonly: #fcfcfc;

$color-orderline-odd: #fcfcfc;

$color-information: #a0dfef;
$color-ok: 	#90EE90;
$color-warning: #ffff8f;
$color-intermediate: #fcc35b;
$color-error: #ff8a8a;

$color-modified: #47b4e0;
$color-modified-byapp: #ffff00;
$color-required: #ff8a8a;

$color-select-collision: #ffff00;

