.register-visitor{
    height: 450px;
    width: 400px;
}
.form-label{
    margin-top: 20px;
    margin-left: 40px;
}
.card-header{
    top:5px;
    position:relative;
    margin-left: 150px;
    margin-bottom: 10px;
}