@import '../base/module';

/* Loading */
.loading-wrapper {
    height: 100%;
    width: 100%;
    background-image: $login-background-image;
    background-position: 0;
    background-size: cover;
}

.loading-content {
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}

.loading-logo {
    width: 300px;
    height: auto;
    position:absolute;
    top: 50%;
    left: calc(50% - 150px);

    img {
        width: 100%;
        height: auto;
    }
}


.loading-circle {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 10%;
  left: calc(50% - 37px);
}
.loading-circle .loading-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.loading-circle .loading-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $color-light;
  border-radius: 100%;
  -webkit-animation: loading-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: loading-circleBounceDelay 1.2s infinite ease-in-out both;
}
.loading-circle .loading-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.loading-circle .loading-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.loading-circle .loading-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.loading-circle .loading-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.loading-circle .loading-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.loading-circle .loading-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.loading-circle .loading-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.loading-circle .loading-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.loading-circle .loading-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.loading-circle .loading-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.loading-circle .loading-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.loading-circle .loading-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.loading-circle .loading-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.loading-circle .loading-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.loading-circle .loading-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.loading-circle .loading-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.loading-circle .loading-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.loading-circle .loading-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.loading-circle .loading-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.loading-circle .loading-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.loading-circle .loading-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.loading-circle .loading-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes loading-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
