// Import theming functions
@import '~@angular/material/theming';
// @import '~assets/styles/theme.scss';
/* basic style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto ', sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
    background-color: #F9F9F9;
  }
  
  .container {
    margin: 0 auto;
  }
  
  /* navbar */
  .navbar {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color:#8DCBDD;
  }
  
  .logo,
  .nav {
    display: inline-block;
    margin: 20px;
    margin-left: 200px;
  }
  
  /* nav links */
  .nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav li {
    display: inline-block;
    margin-left: 40px;
  }
  
  .navbar a {
    color: #FFF;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #DDD;
  }
  
  /* if you want pull right nav links */
  .nav-right {
    float: right;
    line-height: 39px;
  }

   .img-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;  
}